body {
padding:0px;
margin:0px;
display:flex;
background-color:#0d2e1d;}

nav {width:100%;
height:40px;
box-shadow:1px 1px 1px black;
padding-block:2%;
padding-left:3%;
position:fixed;
background-color:#0d1d1d;
z-index:10;
filter:brightness(1.3) contrast(1.1);
}
nav img {
width:40px;
}
nav #logo {
margin-left:58%;
}

#myDiv {width:100%;
background-color:;
padding-block:15%;

}
#groupIcon {
width:10%;
filter:brightness(1.1) contrast(1.2);
}
p{
font-family:Courier new,monospace;
}
span {
color:gray;

}
#box {
width:5%;
margin-left:25%;
}
#btn {width:50%;margin-left:23%;opacity:80%;height:6%;font-family:fantasy;}